<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{veterinario.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{veterinario.list.headline}]]</h1>
                <div>
                    <a th:href="@{/veterinarios/add}" class="btn btn-primary ms-2">[[#{veterinario.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${veterinarios.empty}">[[#{veterinario.list.empty}]]</div>
            <div th:if="${!veterinarios.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{veterinario.veterinarioId.label}]]</th>
                            <th scope="col">[[#{veterinario.nome.label}]]</th>
                            <th scope="col">[[#{veterinario.contato.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="veterinario : ${veterinarios}">
                            <td>[[${veterinario.veterinarioId}]]</td>
                            <td>[[${veterinario.nome}]]</td>
                            <td>[[${veterinario.contato}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/veterinarios/edit/{veterinarioId}(veterinarioId=${veterinario.veterinarioId})}" class="btn btn-sm btn-secondary">[[#{veterinario.list.edit}]]</a>
                                    <form th:action="@{/veterinarios/delete/{veterinarioId}(veterinarioId=${veterinario.veterinarioId})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{veterinario.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
